.mySpinner{
    color:#f8f9fa;
     width:130px;
     height:130px;
}
.containerLoading{
    height:100vh;
    background-color:rgb(252, 159, 58);
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}